/** @format */ /** @format */
:root {
  --primery-bg-color: rgba(121, 32, 180, 0.4);
  --primery-text-color: rgb(67, 5, 80);
}

/** @format */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/** @format */ /** @format */
.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .conteiner {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

/** @format */
body {
  font-family: Dosis, sans-serif;
  letter-spacing: 0.03em;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  background-color: rgba(180, 103, 235, 0.3);
  background-image: url(../img/baloonpaint.png);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

.title {
  color: var(--primery-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.swiper {
  width: 100%;
  height: 320px;
}
@media screen and (min-width: 768px) {
  .swiper {
    width: 760px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper {
    width: 1200px;
  }
}

.swiper__img {
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

/** @format */
.page-header .conteiner {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header .conteiner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .page-header .conteiner {
    display: flex;
  }
}

.logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 60px;
}

.top-nav {
  display: flex;
}
@media screen and (min-width: 768px) {
  .top-nav {
    gap: 4px;
  }
  .top-nav :hover {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 1200px) {
  .top-nav {
    gap: 20px;
  }
  .top-nav :hover {
    transform: scale(1.2);
    transition-duration: 250ms;
  }
}

.topnav__item {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  transition-property: transform;
}
@media screen and (min-width: 768px) {
  .topnav__item {
    padding: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .topnav__item {
    padding: 15px;
  }
}

.topnav__link {
  color: var(--primery-text-color);
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .topnav__link {
    padding: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .topnav__link {
    padding: 10px;
  }
}

.auth-nav {
  display: flex;
  gap: 10px;
}

.auth-nav__item {
  transition-property: transform;
}
.auth-nav__item :hover {
  transform: scale(1.2);
  transition-duration: 250ms;
}

.auth-nav__link--tell {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--primery-text-color);
  font-size: 18px;
  font-weight: 500;
  transition-property: transform;
}
.auth-nav__link--tell :hover {
  transform: scale(1.2);
  transition-duration: 250ms;
}

/** @format */
#menu {
  z-index: 2;
}
@media screen and (min-width: 768px) {
  #menu {
    display: none;
  }
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: rgba(84, 3, 100, 0.8156862745);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, rgba(84, 3, 100, 0.8156862745), rgba(84, 3, 100, 0.8156862745));
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}

.nav__social {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .nav__social {
    display: none;
  }
}

.logo--mob {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .logo--mob {
    display: none;
  }
}

/** @format */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 400px;
  width: 100%;
}

.hero__title {
  text-align: center;
}

/** @format */
.car__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.car-js {
  --animate-delay: 3s;
  --animate-duration: 5s;
}

.helium__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}
@media screen and (min-width: 768px) {
  .helium__title {
    font-size: 35px;
  }
}

.helium__title--first {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .helium__title--first {
    gap: 10px;
    font-size: 25px;
  }
}

.helium__list {
  display: flex;
  gap: 10px;
}

/** @format */
.decorations {
  padding-top: 100px;
}

.decorations__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}

/** @format */
.figures {
  padding-top: 100px;
}

.figures__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}

/** @format */
.bear {
  padding-top: 100px;
  padding-bottom: 50px;
}

.bear__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}

.bear__list-img {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .bear__list-img {
    gap: 25px;
  }
}

.bear__list-text {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.bear__text {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .bear__text {
    font-size: 18px;
  }
}

.bear__img {
  border-radius: 10px;
  width: 320px;
}
@media screen and (min-width: 1200px) {
  .bear__img {
    width: 450px;
  }
}

/** @format */
.footer {
  padding: 10px 0;
  border-top: solid 2px rgb(197, 139, 241);
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    gap: 10px;
  }
}

.footer__item {
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  color: var(--primery-text-color);
}

.footer__social {
  display: flex;
  gap: 16px;
}

.footer__social-item {
  transition-property: transform;
}
.footer__social-item:hover {
  transform: scale(1.2);
  transition-duration: 250ms;
}

.footer__social-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--primery-text-color);
  font-weight: 600;
}

/** @format */
.price {
  padding-top: 100px;
  padding-bottom: 50px;
}

.price__title {
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
}

.price__title-second {
  font-size: 22px;
  text-align: center;
  margin-top: 6px;
}

.price__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 26px;
  list-style: circle;
}

.price__text {
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */