/** @format */

.bear {
  padding-top: 100px;
  padding-bottom: 50px;
}
.bear__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}

.bear__list-img {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  @include desktop {
    gap: 25px;
  }
}

.bear__text {
  font-size: 16px;
  @include tablet {
    font-size: 18px;
  }
}

.bear__img {
  border-radius: 10px;
  width: 320px;

  @include desktop {
    width: 450px;
  }
}
