/** @format */
.page-header {
  padding: 20px 0;
}
.page-header .conteiner {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.top-nav {
  display: flex;

  @include tablet {
    margin-left: 20px;
    gap: 4px;
  }

  @include desktop {
    gap: 10px;
    margin-left: 50px;
  }
}
.topnav__item {
  background-color: var(--primery-bg-color);
  border-radius: 7px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    padding: 5px;
  }
  @include desktop {
    padding: 10px;
  }

  &:hover {
    background-color: var(--btn-bg-color);
  }
}
.topnav__link {
  color: var(--primery-text-color);
  font-weight: 500;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  gap: 10px;
}
