/** @format */
.page-header {
  background-image: url(../img/baloonpaint.png);
  background-position: center;
  background-size: cover;
}

.page-header .conteiner {
  display: none;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  @include desktop {
    display: flex;
  }
}

.logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 60px;
}

.top-nav {
  display: flex;

  @include tablet {
    gap: 4px;

    & :hover {
      transform: scale(1.2);
    }
  }

  @include desktop {
    gap: 20px;

    & :hover {
      transform: scale(1.2);
      transition-duration: 250ms;
    }
  }
}
.topnav__item {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  transition-property: transform;

  @include tablet {
    padding: 5px;
  }
  @include desktop {
    padding: 15px;
  }
}
.topnav__link {
  color: var(--primery-text-color);
  font-weight: 500;

  @include tablet {
    padding: 5px;
  }
  @include desktop {
    padding: 10px;
  }
}

.auth-nav {
  display: flex;
  gap: 10px;
}

.auth-nav__item {
  transition-property: transform;

  & :hover {
    transform: scale(1.2);
    transition-duration: 250ms;
  }
}

.auth-nav__link--tell {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--primery-text-color);
  font-size: 18px;
  font-weight: 500;
  transition-property: transform;

  & :hover {
    transform: scale(1.2);
    transition-duration: 250ms;
  }
}
