/** @format */
.helium {
  padding-bottom: 100px;
}
.helium__title {
  text-align: center;
}
.helium__list {
  display: flex;
  gap: 10px;
}
.helium__item {
}

.swiper {
  width: 400px;
  height: 400px;
}
