/** @format */
.helium__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}

.helium__title--first {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
}
.helium__list {
  display: flex;
  gap: 10px;
}

.swiper {
  width: 100%;
  height: 380px;
  @include tablet {
    width: 760px;
  }
  @include desktop {
    width: 1200px;
  }
}

.swiper__img {
  position: absolute;
  width: 100%;
  height: 320px;
  border-radius: 10px;
}

.price {
  position: relative;
  bottom: -303px;
  display: block;
  text-align: center;
  width: 100%;
  background-color: rgba(121, 32, 180, 0.4);
  color: #fff;
}
