/** @format */
.helium {
  padding-bottom: 100px;
}
.helium__title {
  text-align: center;
}
.helium__list {
  display: flex;
  gap: 10px;
}
// .helium__item {
// }

.swiper {
  width: 100%;
  height: 380px;
  @include tablet {
    width: 760px;
  }
  @include desktop {
    width: 1200px;
  }
}

.swiper__img {
  position: absolute;
  width: 100%;
  height: 320px;
}

.price {
  position: relative;
  bottom: -303px;
  display: block;
  text-align: center;
  width: 100%;
  background-color: gray;
  color: #fff;
}
