/** @format */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background-image: url(../img/hero.png),
    linear-gradient(to top, rgba(148, 56, 209, 0.4), rgba(228, 190, 236, 0.4));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 400px;
  width: 100%;
}
.hero__title {
  text-align: center;
}

.hero__text {
}
