/** @format */
.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}

.nav__social {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 10px;

  @include tablet {
    display: none;
  }
}

.logo--mob {
  display: flex;
  justify-content: center;

  @include tablet {
    display: none;
  }
}
