/** @format */

.nav__social {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 10px;

  @include tablet {
    display: none;
  }
}

.logo--mob {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  @include tablet {
    display: none;
  }
}

.nav__mob {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  @include tablet {
    display: none;
  }
}
