/** @format */

.opening-hours {
  padding-top: 20px;
}

.opening-hours__wrap {
  display: flex;
}

.opening-hours__icon-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.opening-hours__icon {
  margin-right: 10px;

  width: 20px;
  height: 20px;
}

.opening-hours__days-list {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.opening-hours__list {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-left: 55px;
}
