/** @format */
.price {
  padding-top: 50px;
  padding-bottom: 50px;
}

.price__title {
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
}

.price__title-second {
  font-size: 22px;
  text-align: center;
  margin-top: 6px;
}

.price__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 26px;
  list-style: circle;
}

.price__text {
  font-size: 16px;
}
