/** @format */
.price {
  padding-top: 100px;
  padding-bottom: 50px;
}

.price__title {
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
}

.price__title-second {
  font-size: 25px;
  text-align: center;
  margin-top: 6px;
}
