/** @format */

body {
  font-family: Dosis, sans-serif;
  letter-spacing: 0.03em;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  background-color: rgba(180, 103, 235, 0.3);
}

h2 {
  color: rgb(67, 5, 80);
}
